<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
Dear {{name}},
Welcome to Food For All Campaign.
We are glad you decided to stop by.

Food for all campaign is an initiative designed to put food on the table of her members and money in their pockets on a regular basis.

This vision has been on and running since June of 2008 and with each passing day, we are gaining new and innovative momentum that is putting smiles on the lips of our members.
To become a part of this drive and quest to end the foreseeable scarcity of food in our midst, we want to encourage you to sign up with us today.

There are different entry levels as outlined below:
#Senior Ambassador: 13,500
#Bronze Ambassador:
40,500
#Silver Ambassador:
94,500
#Gold Ambassador:
202,500

To register, pls click on the button below

Once more, we appreciate you for checking by and we do hope you find us your best plug for an innovative entrepreneurial experience

Pls see the video below for a more detailed explanation of who we are and what we represent

Yours,
Akpatasi Alfred
Public Relations
</pre>
</body>
</html>