{% load static %}
<section class="container py-6 values">
    <header class="text-center ">
        <h2 class="h2 text-center">Core Values</h2>
        <h6 class="h6">Our Corporate Goals</h6>
         <hr class="hr mx-auto" style="width: 10%;">
    </header>
    <div class="row gy-3">
        {% for values in core_value%}
        <div class="col-lg-4 ">
            <div class="card mx-auto" style="max-width: 415px;">
                <div class="card-body">
                    <header class="bg-primary mx-auto rounded text-center mb-2 d-flex align-items-center justify-content-center" style="width: 100px; Height: 100px;">
                    <i class="{{values.font_awesome_class}} text-center"></i>
                </header>
                    <h5 class="card-title text-center">{{values.name}}</h5>
                    <p class="card-text mt-1">{{values.message|safe}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
