{% extends 'Company/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
{{net_mkt.title}}-Food for All Campaign
{% endblock %}

{% block content %}
{% if net_mkt %}
<div class="card bg-dark text-white header-card">
    <img src="{{net_mkt.pic.url}}" height="350" class="card-img" alt="...">
    <div class="card-img-overlay d-flex align-items-center justify-content-center img-dark-overlay">
        <div class="flex-column">
            <h1 class="h1 card-title text-center">{{net_mkt.title}}</h1>
        </div>
    </div>
</div>

<section class="py-3 bg-warning">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="container">
        <ol class="breadcrumb fw-normal">
            <li class="breadcrumb-item"><a href="{% url 'home'%}" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'services' %}" class="text-decoration-none">What We Do</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{net_mkt.title}}</li>
        </ol>
    </nav>
</section>

<section class="container">
    <div class="row gy-2 servicelinks">
                <div class="col-md-9">
                    <p class="card-text">{{net_mkt.snippet|safe}}</p>
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <h5 class="mb-1">What We Do</h5>
<!--                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">-->
<!--                            The current link item-->
<!--                        </a>-->
                            {% for list in services %}
                        <a href="{% url 'services-detail' list.pk %}" class="list-group-item list-group-item-action">{{list.title|title}}</a>
                            {% endfor %}
                        <a href="{% url 'network-marketing' %}" class="list-group-item list-group-item-action">Network Marketing</a>
                    </div>
                </div>
            </div>
</section>
{% endif %}
<section class="reveal">
    {% include 'Company/contact-form.html' %}
</section>
{% endblock content %}