{% extends 'dash-base.html' %}
{% load static %}
{% load compress %}

{% block content %}

<div class="row row-cols-1 row-cols-lg-4 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body text-center" >
                <p class="card-text">Total Balance</p>
                <h5 class="card-title">N18,000</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">Total Downlines</p>
                <h5 class="card-title">{{downline_number}}</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-text">Match Bonus</p>
                <h5 class="card-title">N30,500</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">Referral Bonus</p>
                <h5 class="card-title">N50,000</h5>
            </div>
        </div>
    </div>
</div>


<div class="row gy-5">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <section class="text-center">
                    <img src="{{user.profile.get_photo_url}}" class="rounded-circle mx-auto" width="150" height="150"
                 alt="...">
                </section>

                <header class="text-center mb-1">
                    <h4 class="card-title">{{current_level}}</h4>
                    <span class="badge rounded-pill bg-primary">{{profile.user.profile.status}}</span>
                </header>
                <section class="table-responsive">
                        <table class="table ">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" colspan="2" class="text-center">Bio-Data</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sponsored ID:</td>
                        <td>{{profile.user.profile.code}}</td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td>{{profile.user.username}}</td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td>{{profile.user.first_name}}</td>
                    </tr>
                    <tr>
                        <td>Middle Name:</td>
                        <td>{{profile.user.profile.other_name}}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{profile.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{profile.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td>{{profile.user.profile.date_of_birth}}</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>{{profile.user.profile.gender}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td>{{profile.user.profile.phone_number}}</td>
                    </tr>
                    </tbody>
                </table>
                    <table class="table ">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" colspan="2" class="text-center">Bank Account Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Bank Name:</td>
                        <td>{{profile.user.profile.bank_name}}</td>
                    </tr>
                    <tr>
                        <td>Account Name:</td>
                        <td>{{profile.user.profile.account_name}}</td>
                    </tr>

                    <tr>
                        <td>Account Number:</td>
                        <td>{{profile.user.profile.account_number}}</td>
                    </tr>
                    </tbody>
                </table>
                    <table class="table ">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" colspan="2" class="text-center">Billing Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Residential Address:</td>
                        <td>{{profile.user.profile.billing_address}}</td>
                    </tr>
                    </tbody>
                </table>
                </section>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Latest Referrals</h5>
                    <section class="table-responsive">
                        <table class="table table-striped table-hover">
                        <thead class="table-primary">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        {% if my_recs %}
                        <tbody>
                        {% for ref in my_recs %}
                        <tr>
                            <td>{{ref.user.first_name}}</td>
                            <td>{{ref.user.last_name}}</td>
                            <td>{{ref.user.email}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% else %}
                        <tbody>
                            <tr>
                                <td colspan="3" class="text-center">No Referrals yet</td>
                            </tr>
                        </tbody>

                        {% endif %}
                    </table>
                    <a href="{% url 'referrals'%}" role="button" class="d-grid btn btn-primary">See All</a>
                    </section>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Latest Downlines</h5>
                    <section class="table-responsive">
                        <table class="table table-striped table-hover">
                        <thead class="table-primary">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        {% if index_slice %}
                        <tbody>
                        {% for ref in index_slice %}
                        <tr>
                            <td>{{ref.first_name}}</td>
                            <td>{{ref.last_name}}</td>
                            <td>{{ref.email}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% else %}
                        <tbody>
                        <tr>
                            <td colspan="3" class="text-center">No Downline yet</td>
                        </tr>

                        </tbody>

                        {% endif %}
                    </table>
                    <a href="{% url 'downlines'%}" role="button" class="d-grid btn btn-primary">See All</a>
                    </section>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Withdrawal Requests</h5>
                    <section class="table-responsive">
                        <table class="table table-striped table-hover">
                        <thead class="table-primary">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Current Amount</th>
                        </tr>
                        </thead>

                        {% if all_history %}
                        <tbody>
                        {% for withdrawal in all_history %}
                        <tr>
                            <td>{{withdrawal.date}}</td>
                            <td>{{withdrawal.amount}}</td>
                            <td>{{withdrawal.status}}</td>
                            <td>{{withdrawal.current_amount}}</td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">You are yet to make a Withdrawal Request</td>
                        </tr>

                        {% endif %}
                        </tbody>
                    </table>
                    <a href="{% url 'withdrawals' %}" role="button" class="d-grid btn btn-primary">See All</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}