{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
           class="border rounded-3 p-1 text-decoration-none"><i class="fa-solid fa-bars"></i></a>
        <div class="input-group">
                    <input type="text"  placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                </div>
    </div>
</nav>